
@{
    Layout = null;
}

@model List<EFCoreIntro.Models.ORM.Entities.Product>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/Product/SearchProduct" method="post">
            <label>Ad:</label>
            <input type="text" name="name" value="" />
            <label>Fiyat:</label>
            <input type="text" name="minprice" value="" />
            <label>ile</label>
            <input type="text" name="maxprice" value="" />

            <button type="submit">Ara</button>
        </form>

    </div>

    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Unit Price</td>
            <td>Stock</td>
            <td>CategoryID</td>
            <td>İşlem</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.UnitsInStock</td>
                <td>@item.CategoryID</td>
                <td>
                    <form action="/Product/Delete/" method="post">
                        <input type="hidden" name="productid" value="@item.ID" />
                        <button type="submit" style="background-color:tomato; color:white">Sil</button>
                    </form>

                </td>
            </tr>
        }
    </table>
</body>
</html>
