@model EFCoreIntro.Models.ORM.Entities.Teacher



<div>
    @Html.LabelFor(q => q.Name)
    @Html.TextBoxFor(q => q.Name)
</div>
<div>
    @Html.LabelFor(q => q.Surname)
    @Html.TextBoxFor(q => q.Surname)
</div>
<div>
    @Html.LabelFor(q => q.EMail)
    @Html.TextBoxFor(q => q.EMail)
</div>
<div>
    @Html.LabelFor(q => q.Phone)
    @Html.TextBoxFor(q => q.Phone)
</div>
<div>
    @Html.LabelFor(q => q.Address)
    @Html.TextAreaFor(q => q.Address)
</div>